{% extends 'blog/base.html' %}


{% load custome_tags %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


        <h4 class="bg-info  " style="padding:10px;">留言</h4>
	<div style="padding:10px;">
	{% for tpc in pc %}
	  <p><strong>{{tpc.userID.name}}</strong></p>
          <p>{{tpc.content|markdown_convert}}</p>
          <div style="text-align:right;padding-right:20px;">{{tpc.createDatetime}}</div>
	{% endfor  %}
	</div>
	<h6 class="bg-info" style="padding:5px;">发留言</h6>
	<form action="" method="post">
	{% csrf_token  %}
	{% if error %}
	<p style="color:red;" >
	  {{error}}
	</p>
	{% endif %}
	<p>
	{% if name == None   %}  
	  {{form.userNickname_email.label_tag}}
  	  {{form.userNickname_email}}

	  {{form.userPassword.label_tag}}
	  {{form.userPassword}}

	  {{form.ismember.label_tag}}
	  {{form.ismember}}
	
	  <a href=/blog/user/reg >注册</a><br>

	  (anonymous@rstone.tech 为匿名用户，可以直接使用)<br>
	{% else %}
	  <strong>{{name}}</strong>
	  <a href="/blog/user/logoutcomment/" >退出</a>
	{% endif  %}
	</p>
	<p>
	  {{form.content}}<br>
	  (支持markdown语法，最多不超过1000字) 
	</p>
	
	<input type="submit" value="发评论" >
        </from>
{% endblock %}


